.grid-container {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  grid-area: nav;
  background-color: #01579b;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  gap: 1rem;
  padding-top: 1rem;
}

.titulo img {
  width: 2rem;
  height: 2rem;
}

nav ul {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.categoria:hover {
  color: red;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.m {
  grid-area: section;
}

main {
  grid-area: main;
}

.tarjeta {
  width: 17rem;
  height: 22rem;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: -1px 0px 17px -3px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: -1px 0px 17px -3px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: -1px 0px 17px -3px rgba(0, 0, 0, 0.73);
}

.tarjeta img {
  width: 14rem;
  height: 14rem;
}

.tarjeta button {
  background-color: #002f6c;
  color: white;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1%;
}


footer {
  grid-area: footer;
  background-color: #002f6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  text-align: center;
}

.iconos {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "nav"
      "section"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% auto 5% 20%;
    height: 100vh;
    width: 100%;
  }
  main {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "nav section"
      "nav main"
      "footer main";
    grid-template-columns: 15% auto;
    grid-template-rows: 10% auto 20%;
    height: 100vh;
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
